# Telegram Bot tokenini shu yerga kiriting (BotFather orqali olingan)
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN_HERE

# Faqat ushbu Telegram ID egasiga botdan foydalanishga ruxsat beriladi.
ALLOWED_USER_ID=YOUR_TELEGRAM_USER_ID_HERE

# GitHub sinxronizatsiyasi uchun default token va repo sozlamalari
# (Bularni bot orqali dinamik o'rnatsangiz, bu yerda yozish shart emas)
GITHUB_TOKEN=YOUR_GITHUB_PERSONAL_ACCESS_TOKEN_HERE
GITHUB_REPO=fayzillo95/pass_manager_bot
